@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply bg-[#050505] text-zinc-100 antialiased; }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar { width: 4px; }
  .custom-scrollbar::-webkit-scrollbar-thumb { @apply bg-white/10 rounded-full hover:bg-indigo-500; }
  
  .text-gradient {
    @apply bg-gradient-to-b from-white via-white to-zinc-500 bg-clip-text text-transparent;
  }

  @keyframes grow { from { width: 0%; } to { width: 100%; } }
  .animate-grow { animation: grow 2s cubic-bezier(0.16, 1, 0.3, 1) forwards; }
}
